.intro
    display flex
    align-items center
    margin-top 60px
    .img-wrapper
        width 40%
        text-align center
        image
            width 80%
    .at-article__info
        color #666666
        line-height 1.5em
.borrow-btn
    position absolute
    bottom 0
    width 100%
    height 100px
    line-height 100px
    text-align center
    font-size 40px
    color white
    background-color #3498db